<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">
	<test name="Midtrans App Test Cases">
		<classes>
			<class name="com.midtrans.qa.testcases.SuccessfulPaymentTest"></class>
			<class name="com.midtrans.qa.testcases.FailedPaymentTest"></class>
		</classes>
	</test>
</suite>